# PowerShell + Windows + repo-specific
*.zip
*.dll
logs/
*.log
*.txt

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

.vscode/
.history/
*.code-workspace

venv/
__pycache__/
*.pyc
